@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.Title = "Dashboard";
}

<div class="container">
	<div class="row">
		<div class="col">
			<p class="text-white mt-5 mb-5">Welcome back, <b>Admin</b></p>
		</div>
	</div>
	<!-- row -->
	<div class="row tm-content-row">
		<div class="col-12 tm-block-col">
			<div class="tm-bg-primary-dark tm-block tm-block-taller tm-block-scroll">
				<h2 class="tm-block-title">Orders List</h2>
				<table class="table">
					<thead>
						<tr>
							<th scope="col">ORDER NO.</th>
							<th scope="col">USER</th>
							<th scope="col">STATUS</th>
							<th scope="col">ORDERED</th>
							<th scope="col">LOCATION</th>
							<th scope="col">REQUIRED DATE</th>
							<th scope="col">SHIPPED DATE</th>
							<th scope="col">FREIGHT</th>
							<th scope="col"></th>
							<th scope="col"></th>
						</tr>
					</thead>
					<tbody>
						@foreach (var item in ViewBag.orders)
						{
							<tr>
								<th scope="row">
									<b>
										<a href="/Admin/ListDetail/@item.Id"
									   class="btn btn-primary btn-block text-uppercase mb-3">#@item.Id</a>
									</b>
								</th>
								<th scope="row"><b>@item.UserId</b></th>
								@if (item.Status == false)
								{
									<td>
										<div class="tm-status-circle pending">
										</div>Moving
									</td>
								}
								else
								{
									<td>
										<div class="tm-status-circle moving">
										</div>Done
									</td>
								}
								<td><b>@item.OrderDate</b></td>
								<td><b>@item.ShipAddress</b></td>
								<td><b>@item.RequiredDate</b></td>
								<td>@item.ShippedDate</td>
								<td>@item.Freight</td>
								<td style="color: white;"><a href="./EditOrder/@item.Id">Edit</a></td>
								<td style="color: white;"><a href="./DeleteOrder/@item.Id">Delete</a></td>
							</tr>
						}
					</tbody>
				</table>

			</div>
		</div>
		<a href="/Admin/AddOrder"
		   class="btn btn-primary btn-block text-uppercase mb-3">Add Order</a>
	</div>
</div>
<script src="/admin/js/jquery-3.3.1.min.js"></script>
<!-- https://jquery.com/download/ -->
<script src="/admin/js/moment.min.js"></script>
<!-- https://momentjs.com/ -->
<script src="/admin/js/Chart.min.js"></script>
<!-- http://www.chartjs.org/docs/latest/ -->
<script src="/admin/js/bootstrap.min.js"></script>
<!-- https://getbootstrap.com/ -->
<script src="/admin/js/tooplate-scripts.js"></script>
