@using CoffeeManagementAPI.Models
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<head>
    <title>Coffee</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nothing+You+Could+Do" rel="stylesheet">

    <link rel="stylesheet" href="/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="/css/animate.css">

    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/css/magnific-popup.css">

    <link rel="stylesheet" href="/css/aos.css">

    <link rel="stylesheet" href="/css/ionicons.min.css">

    <link rel="stylesheet" href="/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="/css/jquery.timepicker.css">


    <link rel="stylesheet" href="/css/flaticon.css">
    <link rel="stylesheet" href="/css/icomoon.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,500,1,0" />

</head>
<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
        <a class="navbar-brand" href="index.html"><span class="icon-coffee"></span>Coffee<br><small>Classic</small></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menu
        </button>
        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a href="../Home/Index" class="nav-link">Home</a></li>
                <li class="nav-item "><a href="../Product/Menu" class="nav-link">Menu</a></li>
                <li class="nav-item"><a href="../Order/GetCart" class="nav-link">Cart</a></li>
                <li class="nav-item active"><a href="../Order/LoadAllOrder" class="nav-link">Personal Order</a></li>
                <li class="nav-item"><a href="../User/LogOut" class="nav-link">Log Out</a></li>
                @*<li class="nav-item"><a href="/OrderDetail/cart" class="nav-link"><span class="material-symbols-outlined">shopping_cart</span></a></li>*@
            </ul>
        </div>
    </div>
</nav>
<div id="content-left">
    <div class="content-main">
        <div id="profile-content-order" style="padding:100px">
            @if (@ViewBag.orders != null && @ViewBag.orders.Count > 0)
            {
                @foreach (OrderDTO order in ViewBag.orders)
                {
                    <div>
                        <div style="padding-bottom:50px" class="profile-order-title">
                            <h2>
                                Your Order ID: @order.Id
                                @if (order.Status == false)
                                {
                                    <span>Status: Moving</span>
                                }
                                else
                                {
                                    <span>Status: Done</span>
                                }
                            </h2>
                            <div class="profile-order-title-left">
                                <p>Order Date: @order.OrderDate.ToString("yyyy-MM-dd")</p>
                                <p>Required Date: @order.RequiredDate.Value.ToString("yyyy-MM-dd")</p>
                                <p>Shipped Date: @order.ShippedDate.Value.ToString("yyyy-MM-dd")</p>
                                <p>Ship Address: @order.ShipAddress</p>
                                @*Order creation date: @Convert.ToDateTime(order.OrderDate).ToString("dd/MM/yyyy")*@
                            </div>
                        </div>
                        <h3>Danh sách sản phẩm thuộc order</h3>
                        @foreach (OrderDetailDTO detail in order.OrderDetails)
                        {

                            <div>
                                <div class="profile-order-content" style="margin-top:20px;margin-bottom:20px">

                                    <img src="@detail.Product.Image" style="max-width:100px">
                                    <span> Product Name: @detail.Product.Name </span>
                                    <span>
                                        Quantity: @detail.Quantity
                                    </span>
                                    <span> Price: @detail.Price VNĐ </span>

                                </div>
                            </div>
                        }

                    </div>

                }

            }

            else
            {
                <h2 style="color: red">You have not order anything before.</h2>
            }
        </div>
    </div>
</div>