@model IEnumerable<CoffeeManagementAPI.Models.ProductDTO>
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Coffee</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nothing+You+Could+Do" rel="stylesheet">

    <link rel="stylesheet" href="/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="/css/animate.css">

    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/css/magnific-popup.css">

    <link rel="stylesheet" href="/css/aos.css">

    <link rel="stylesheet" href="/css/ionicons.min.css">

    <link rel="stylesheet" href="/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="/css/jquery.timepicker.css">


    <link rel="stylesheet" href="/css/flaticon.css">
    <link rel="stylesheet" href="/css/icomoon.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container">
            <a class="navbar-brand" href="index.html"><span class="icon-coffee"></span>Coffee<br><small>Classic</small></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="oi oi-menu"></span> Menu
            </button>
            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a href="../Home/Index" class="nav-link">Home</a></li>
                    <li class="nav-item active"><a href="../Product/menu" class="nav-link">Menu</a></li>
                    <li class="nav-item"><a href="../Order/GetCart" class="nav-link">Cart</a></li>
                    <li class="nav-item"><a href="../Order/LoadAllOrder" class="nav-link">Personal Order</a></li>
                    <li class="nav-item"><a href="../User/LogOut" class="nav-link">Log Out</a></li>
                    @*<li class="nav-item"><a href="/OrderDetail/cart" class="nav-link"><span class="material-symbols-outlined">shopping_cart</span></a></li>*@
                </ul>
            </div>
        </div>
    </nav>
    <!-- END nav -->

    <section class="home-slider owl-carousel img" style="background-image: url(images/bg_1.jpg);">

        <div class="slider-item" style="background-image: url(/images/bg_3.jpg);">
            <div class="overlay"></div>
            <div class="container">
                <div class="row slider-text justify-content-center align-items-center">

                    <div class="col-md-7 col-sm-12 text-center ftco-animate">
                        <h1 class="mb-3 mt-5 bread">Our Menu</h1>
                        <p class="breadcrumbs"><span class="mr-2"><a href="/Home/Index.cshtml">Home</a></span> <span>Menu</span></p>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center mb-5 pb-3 mt-5 pt-5">
                <div class="col-md-7 heading-section text-center ftco-animate">
                    <h2 class="mb-4">Our Menu Pricing</h2>
                    <p class="flip"><span class="deg1"></span><span class="deg2"></span><span class="deg3"></span></p>
                    <p class="mt-5">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                </div>
            </div>
            <div class="row">

                @for (int i = 0; i < ViewBag.pro1.Count; i++)
                {
                    int lastIndex = i + 5;
                    @if (lastIndex > ViewBag.pro1.Count)
                    {
                        lastIndex = ViewBag.pro1.Count;
                    }
                    <div class="col-md-6">
                        @for (int j = i; j < lastIndex; j++)
                        {
                            <div class="pricing-entry d-flex ftco-animate">
                                <div class="img" style="background-image: url(@ViewBag.pro1[j].Image);"></div>
                                <div class="desc pl-3">
                                    <div class="d-flex text align-items-center">
                                        <h3><span>@ViewBag.pro1[j].Name</span></h3>
                                        <span class="price">$@ViewBag.pro1[j].Price</span>
                                    </div>
                                    <div class="d-block">
                                        <p>@ViewBag.pro1[j].Description</p>
                                    </div>
                                </div>
                            </div>
                            i++;
                        }
                    </div>
                }
            </div>
        </div>
    </section>

    <section class="ftco-menu">
        <div class="container-fluid">
            <div class="row d-md-flex">
                <div class="col-lg-4 ftco-animate img f-menu-img mb-5 mb-md-0" style="background-image: url(/images/cftea2.jpg);">
                </div>
                <div class="col-lg-8 ftco-animate p-md-5">
                    <div class="row">
                        <div class="col-md-12 nav-link-wrap mb-5">
                            <div class="nav ftco-animate nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                <a class="nav-link active" id="v-pills-1-tab" data-toggle="pill" href="#v-pills-1" role="tab" aria-controls="v-pills-1" aria-selected="true">Coffee</a>

                                <a class="nav-link" id="v-pills-2-tab" data-toggle="pill" href="#v-pills-2" role="tab" aria-controls="v-pills-2" aria-selected="false">Tea</a>

                                <a class="nav-link" id="v-pills-3-tab" data-toggle="pill" href="#v-pills-3" role="tab" aria-controls="v-pills-3" aria-selected="false">Juice</a>

                                <a class="nav-link" id="v-pills-4-tab" data-toggle="pill" href="#v-pills-4" role="tab" aria-controls="v-pills-4" aria-selected="false">Freeze</a>

                            </div>
                        </div>
                        <div class="col-md-12 d-flex align-items-center">

                            <div class="tab-content ftco-animate" id="v-pills-tabContent">

                                <div class="tab-pane fade show active" id="v-pills-1" role="tabpanel" aria-labelledby="v-pills-1-tab">
                                    <div class="row">
                                        <section class="home-slider owl-carousel img">
                                            @for (int i = 0; i < ViewBag.pro1.Count; i++)
                                            {
                                                int lastIndex = i + 3;
                                                @if (lastIndex > ViewBag.pro1.Count)
                                                {
                                                    lastIndex = ViewBag.pro1.Count;
                                                }
                                                <div class="slider-item">
                                                    <div class="container">
                                                        <div class="row slider-text align-items-center" data-scrollax-parent="true">
                                                            @for (int j = i; j < lastIndex; j++)
                                                            {
                                                                <div class="col-md-4 text-center">
                                                                    <div class="menu-wrap">
                                                                        <a href="#" class="menu-img img mb-4" style="background-image: url(@ViewBag.pro1[j].Image);"></a>
                                                                        <div class="text">
                                                                            <h3><a href="#">@ViewBag.pro1[j].Name</a></h3>
                                                                            <p>@ViewBag.pro1[j].Description</p>
                                                                            <p class="price"><span>$@ViewBag.pro1[j].Price</span></p>
                                                                            <button onclick="addToCart(@ViewBag.pro1[j].Id)" class="ml-2 btn btn-white btn-outline-white">Order</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                i++;
                                                            }
                                                        </div>

                                                    </div>
                                                </div>
                                            }
                                        </section>
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="v-pills-2" role="tabpanel" aria-labelledby="v-pills-2-tab">
                                    <div class="row">
                                        <section class="home-slider owl-carousel img">
                                            @for (int i = 0; i < ViewBag.pro2.Count; i++)
                                            {
                                                int lastIndex = i + 3;
                                                @if (lastIndex > ViewBag.pro2.Count)
                                                {
                                                    lastIndex = ViewBag.pro2.Count;
                                                }
                                                <div class="slider-item">
                                                    <div class="container">
                                                        <div class="row slider-text align-items-center" data-scrollax-parent="true">
                                                            @for (int j = i; j < lastIndex; j++)
                                                            {
                                                                <div class="col-md-4 text-center">
                                                                    <div class="menu-wrap">
                                                                        <a href="#" class="menu-img img mb-4" style="background-image: url(@ViewBag.pro2[j].Image);"></a>
                                                                        <div class="text">
                                                                            <h3><a href="#">@ViewBag.pro2[j].Name</a></h3>
                                                                            <p>@ViewBag.pro2[j].Description</p>
                                                                            <p class="price"><span>$@ViewBag.pro2[j].Price</span></p>
                                                                            <button onclick="addToCart(@ViewBag.pro2[j].Id)">Add to Cart</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                i++;
                                                            }
                                                        </div>

                                                    </div>
                                                </div>
                                            }
                                        </section>
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="v-pills-3" role="tabpanel" aria-labelledby="v-pills-3-tab">
                                    <div class="row">
                                        <section class="home-slider owl-carousel img">
                                            @for (int i = 0; i < ViewBag.pro3.Count; i++)
                                            {
                                                int lastIndex = i + 3;
                                                @if (lastIndex > ViewBag.pro3.Count)
                                                {
                                                    lastIndex = ViewBag.pro3.Count;
                                                }
                                                <div class="slider-item">
                                                    <div class="container">
                                                        <div class="row slider-text align-items-center" data-scrollax-parent="true">
                                                            @for (int j = i; j < lastIndex; j++)
                                                            {
                                                                <div class="col-md-4 text-center">
                                                                    <div class="menu-wrap">
                                                                        <a href="#" class="menu-img img mb-4" style="background-image: url(@ViewBag.pro3[j].Image);"></a>
                                                                        <div class="text">
                                                                            <h3><a href="#">@ViewBag.pro3[j].Name</a></h3>
                                                                            <p>@ViewBag.pro3[j].Description</p>
                                                                            <p class="price"><span>$@ViewBag.pro3[j].Price</span></p>
                                                                            <button onclick="addToCart(@ViewBag.pro3[j].Id)">Add to Cart</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                i++;
                                                            }
                                                        </div>

                                                    </div>
                                                </div>
                                            }
                                        </section>
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="v-pills-4" role="tabpanel" aria-labelledby="v-pills-4-tab">
                                    <div class="row">
                                        <section class="home-slider owl-carousel img">
                                            @for (int i = 0; i < ViewBag.pro4.Count; i++)
                                            {
                                                int lastIndex = i + 3;
                                                @if (lastIndex > ViewBag.pro4.Count)
                                                {
                                                    lastIndex = ViewBag.pro4.Count;
                                                }
                                                <div class="slider-item">
                                                    <div class="container">
                                                        <div class="row slider-text align-items-center" data-scrollax-parent="true">
                                                            @for (int j = i; j < lastIndex; j++)
                                                            {
                                                                <div class="col-md-4 text-center">
                                                                    <div class="menu-wrap">
                                                                        <a href="#" class="menu-img img mb-4" style="background-image: url(@ViewBag.pro4[j].Image);"></a>
                                                                        <div class="text">
                                                                            <h3><a href="#">@ViewBag.pro4[j].Name</a></h3>
                                                                            <p>@ViewBag.pro4[j].Description</p>
                                                                            <p class="price"><span>$@ViewBag.pro4[j].Price</span></p>
                                                                            <button class="btn btn-primary p-3 px-xl-4 py-xl-3" onclick="addToCart(@ViewBag.pro4[j].Id)">Add to Cart</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                i++;
                                                            }
                                                        </div>

                                                    </div>
                                                </div>
                                            }
                                        </section>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="ftco-footer ftco-section img">
        <div class="overlay"></div>
        <div class="container">
            <div class="row mb-5">
                <div class="col-lg-3 col-md-6 mb-5 mb-md-5">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">About Us</h2>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                        <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                            <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                            <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                            <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 mb-5 mb-md-5">
                    <div class="ftco-footer-widget mb-4 ml-md-4">
                        <h2 class="ftco-heading-2">Services</h2>
                        <ul class="list-unstyled">
                            <li><a href="#" class="py-2 d-block">Cooked</a></li>
                            <li><a href="#" class="py-2 d-block">Deliver</a></li>
                            <li><a href="#" class="py-2 d-block">Quality Foods</a></li>
                            <li><a href="#" class="py-2 d-block">Mixed</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-5 mb-md-5">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Have a Questions?</h2>
                        <div class="block-23 mb-3">
                            <ul>
                                <li><span class="icon icon-map-marker"></span><span class="text">203 Fake St. Mountain View, San Francisco, California, USA</span></li>
                                <li><a href="#"><span class="icon icon-phone"></span><span class="text">+2 392 3929 210</span></a></li>
                                <li><a href="#"><span class="icon icon-envelope"></span><span class="text">info@yourdomain.com</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">

                    <p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>
        </div>
    </footer>

    @section Scripts
        {
        @*<script>
    function addToCart(id, name, price, quantity) {
    $.ajax({
    url: '@Url.Action("AddToCart", "Cart")',
    type: 'POST',
    dataType: 'json',
    data: { id: id, name: name, price: price, quantity: quantity },
    success: function (result) {
    // Update the cart count and total
    var cart = JSON.parse('@HttpUtility.JavaScriptStringEncode(JsonConvert.SerializeObject(Session["Cart"]))');
    var count = 0;
    var total = 0;
    for (var i = 0; i < cart.length; i++) {
    count += cart[i].Quantity;
    total += cart[i].Price * cart[i].Quantity;
    }
    $('#cart-count').text(count);
    $('#cart-total').text(total.toFixed(2));
    },
    error: function (xhr, status, error) {
    alert(error);
    }
    });
    }

    </script>*@
    }

        <!-- loader -->
        <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg></div>


        <script src="/js/jquery.min.js"></script>
        <script src="/js/jquery-migrate-3.0.1.min.js"></script>
        <script src="/js/popper.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/jquery.easing.1.3.js"></script>
        <script src="/js/jquery.waypoints.min.js"></script>
        <script src="/js/jquery.stellar.min.js"></script>
        <script src="/js/owl.carousel.min.js"></script>
        <script src="/js/jquery.magnific-popup.min.js"></script>
        <script src="/js/aos.js"></script>
        <script src="/js/jquery.animateNumber.min.js"></script>
        <script src="/js/bootstrap-datepicker.js"></script>
        <script src="/js/jquery.timepicker.min.js"></script>
        <script src="/js/scrollax.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
        <script src="/js/google-map.js"></script>
        <script src="/js/main.js"></script>

    </body>
    </html>
    <script>

        function addToCart(productId) {
            var url_handmade = 'https://localhost:7252/Order/AddToCart/' + productId
            $.ajax({
                type: "GET", // Phương thức gửi dữ liệu GET hoặc POST or form.attr('method')
                url: url_handmade, // File xử lý dữ liệu khi submit form
                data: {}, // Đối tượng dữ liệu gửi đi  or form.serialize()
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                xhrFields: {
                    withCredentials: true
                },
                success: function (response) {
                    alert("Đã thêm sản phẩm vào giỏ hàng");
                },
                error: function (xhr, status, error) {
                    alert("Đã thêm sản phẩm vào giỏ hàng");
                }
            });

        }
    </script>